name: deploy_frontend
# DEploys when push is made from frontend folder

on:
    push:
        branches: [ master ]
        paths:
        - 'frontend/**'


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        azcliversion: 2.33.1
        inlineScript: |
            az storage blob upload-batch --account-name vithurenazureresume -d '$web' -s frontend/
    - name: Purge CDN endpoint
      uses: azure/CLI@v1
      with:
        inlineScript: |
           az cdn endpoint purge --content-paths  "/*" --profile-name "vithurenazureresume" --name "vithurenazureresume" --resource-group "azureresumerg"

  # Azure logout
    - name: logout
      run: |
            az logout
     
